<h1>Home</h1>

<%= form_with url: nutri_buscar_produto_path, method: :get do |form| %>
  <div style="margin-bottom: 10px;">
    <label for="produto_1">Produto 1</label>
    <%= form.text_field :produto %>
    <%= form.submit %>
  </div>
<% end %>

<%= form_with url: nutri_buscar_produto_path, method: :get do |form| %>
  <div style="margin-bottom: 10px;">
    <label for="produto_2">Produto 2</label>
    <%= form.text_field :produto %>
    <%= form.submit %>
  </div>
<% end %>

<% unless @produtos.blank? %>
  <%= @produtos %>
<% end %>

